*.pyc
*.swp
*.orig
.project
*.db
*.sqlite3
*~
*.log
*.pot
*.pid
out.err
db.sqlite3
local_settings.py
celerybeat-schedule
secret.txt
.coverage
.tox
pip-log.txt
*/_build/
/doc/static/
/static/
/media/
/config/static/
/config/media/
/.idea/
.DS_Store
