Django==1.7.4
PyYAML==3.11
Pygments==2.0.2
bpython==0.13.2
django-extensions==1.5.0
django-rest-swagger==0.2.8
djangorestframework==3.0.4
drf-nested-routers==0.9.0
psycopg2==2.5.4
requests==2.5.1
six==1.9.0
